# AWS_ACCESS_KEY_ID="AKIAQ3EGQE7L2WKUPBGP" # smtp
# AWS_SECRET_ACCESS_KEY="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" # smtp
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=scandatas3;AccountKey=uGL/+SRGlWY2BOreAz90LJ323ZRplnFCtrW5WFab+Z4X2mLwGPF7sxER4NUkOq0iekVo0yEQhXGz+AStmuU/vw==;EndpointSuffix=core.windows.net"
CORPID="65361d1bc436047c00231e45"
STOREID="65d83ff360d8fb8e5b10b00d"
SHIFTREPS_DIR="C:\Program Files (x86)\CStore Essentials\POS Link\Service\Archive"
SHIFTREPS_PROCESS_LAST_DAYS="1"
DAY_CLOSE_CATCHUP_DAYS="7"
